# opnsense router
Host faucet
	User root
	# TODO: change this to actual IP when on-site
	HostName 10.188.33.84
	StrictHostKeyChecking no
	UserKnownHostsFile /dev/null
	Compression yes
	PasswordAuthentication no
	PreferredAuthentications publickey
	IdentitiesOnly yes
	IdentityFile ~/.ssh/id_faucet
	# TODO: change to your cs3-login host alias, or remove when onsite
	ProxyJump cs3-login

# visualization tower
Host viz
	User faucet
	StrictHostKeyChecking no
	UserKnownHostsFile /dev/null
	Compression yes
	PasswordAuthentication no
	PreferredAuthentications publickey
	IdentitiesOnly yes
	IdentityFile ~/.ssh/id_faucet
	# TODO: not needed when in internal network
	ProxyJump faucet
	ForwardX11 yes
	ForwardX11Trusted yes

# copute nodes
Host drain hot cold
	 # TODO: change to own user
	User root
	StrictHostKeyChecking no
	UserKnownHostsFile /dev/null
	Compression yes
	PasswordAuthentication no
	PreferredAuthentications publickey
	IdentitiesOnly yes
	IdentityFile ~/.ssh/id_faucet
	# TODO: not needed when in internal network
	ProxyJump faucet
