#%Module

family "gcc"

module-whatis "Name: gcc {{ item }}"

prepend-path "PATH" "/apps/gcc/{{ item }}/bin"
prepend-path "LD_LIBRARY_PATH" "/apps/gcc/{{ item }}/lib"
prepend-path "LD_LIBRARY_PATH" "/apps/gcc/{{ item }}/lib64"
prepend-path "LD_RUN_PATH" "/apps/gcc/{{ item }}/lib"
prepend-path "LD_RUN_PATH" "/apps/gcc/{{ item }}/lib64"
